In [3]:
# <h2>Soal 1: Membuat Objek DataFrames</h2>

# - Buatlah objek dataframes dari objek dictionary, Bebas!
import pandas as pd 
df=pd.DataFrame({'No':[1,2],'Nama':['Abdul','Eko']})
print(df)

   No   Nama
0   1  Abdul
1   2    Eko

In [8]:
# <h2>Soal 2: Membaca data dari file</h2>

# Download file bernama [diamonds.csv](https://drive.google.com/uc?export=download&id=1qQiM9utQUThTPq8jk8stPMh_y2zfqYOd), kemudian baca data tersebut dan assign ke dalam suatu variabel kemudian prin.
datadiamonds=pd.read_csv('diamonds-1.csv')
display(datadiamonds)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [7]:
# <h2>Soal 3: DataFrame vs Series</h2>
# - Apa perbedaan Series dengan list dan dictionary

Pada Series tipe data dari objek series ini harus seragam sedangkan list dan dictionary boleh tidak seragam

# # - Apa perbedaan dataframe dan series

Perbedaan dari Series dan DataFrame ini terletak pada strukturnya dan juga attribute dan method-method yang mereka miliki, untuk perbedaan strukturnya adalah sebagai berikut :
1. Series adalah objek 1 dimensi
2. DataFrame adalah suatu objek 2 dimensi, mirip seperti tabel

# - Buatlah suatu data series
nilaiujian=pd.Series([90,80,60,100])
nilaiujian.index=['a','b','c','d']
print(nilaiujian)

a     90
b     80
c     60
d    100
dtype: int64

In [47]:
# <h2>Soal 4: Pemeriksaan Data Sederhana</h2>

# Di soal no 2 kamu telah membaca data tentang diamonds. pada soal ini cobalah suatu metode dari pandas untuk mengetahui beberapa data pertama dan beberapa data terakhir. kemudian sebutkan nilai dari:
# - baris pertama dari column price
# - baris terakhir dari column color

# tunjukan cara kalian menemukan nilai tersebut di block di bawah ini.
datapertama=datadiamonds['price'].head(1)
display(datapertama)
# print(datapertama)
dataterakhir=datadiamonds['color'].tail(1)
display(dataterakhir)

0    326
Name: price, dtype: int64

53939    D
Name: color, dtype: object

In [26]:
# <h2>Soal 5: Deskriptif Statistik</h2>

# Jelaskan apa itu deskriptis statistik!
Statistika Deskriptif merupakan suatu metode yang berhubungan dengan pengumpulan atau penyajian data sampai memberi informasi yang berguna.

In [58]:
# <h2>Soal 6: Practice Deskriptif Statistik</h2>

# - Gunakan suatu metode dari pandas untuk mengetahui deskriptif statistik dari suatu data
# - Berapa nilai rata-rata dari column price
# - Berapa nilai standar deviasi dari column depth
# - Berapa nilai maximum dari column carat
display('describe keseluruhan data: ',datadiamonds.describe())
nilai_rata_rata_price=datadiamonds['price'].mean()
print('nilai rata-rata price :',nilai_rata_rata_price)
nilai_std_depth=datadiamonds['depth'].std()
print('nilai standar deviasi dari col depth: ',nilai_std_depth)
nilai_max_carat=datadiamonds['carat'].max()
print('nilai maximum dari col carat :',nilai_max_carat)





# nilai_rata_col_price=deskripsidata['mean']

# display(nilai_rata_col_price)

# display(deskripsidata)

'describe keseluruhan data: '

,Unnamed: 0,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,26970.500000,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,15571.281097,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,1.000000,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,13485.750000,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,26970.500000,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,40455.250000,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,53940.000000,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

nilai rata-rata price : 3932.799721913237
nilai standar deviasi dari col depth:  1.432621318833661
nilai maximum dari col carat : 5.01