In [ ]:
<h2>Soal 1: Penggabungan Data</h2>

- Sebutkan perbedaan antara full outer join, inner join, dan left join
jawaban
-Full outer joian

Full Outer Join menghasilkan gabungan index bari dari setiap data yang di gabung.
Full Outer Join menggabungan pula column yang berbeda
Memberikan nilai null untuk nilai column yang tidak di miliki oleh suatu index tertentu.

-iner join
Inner join ini akan menggabungkan data antara nilai key/referensi yang beririsan.

- left join

Left Outer Join menghasilkan seluruh data dari data yang kiri ditambah data kanan yang memiliki nilai key yang sama dengan data dari kiri.

In [20]:
# <h2>Soal 2: Penggabungan Data</h2>

# Pada quiz no 2 ini gunakan data [names1881.csv](https://drive.google.com/uc?export=download&id=1Pwu3cv93hI79jmi52kJ05xhophknDKat) dan [names1981.csv](https://drive.google.com/uc?export=download&id=1pvsGaybr423hJXcN35e5nS3sg4ha4jo3), data ini berisi nama bayi yang lahir pada tahun 1881 atau 1981 di Amerika.

# - Baca data tersebut dengan memberikan nama column 'Name', 'Gender', 'Count'.
# - Tunjukan jumlah dimensi dari data 'names1881.csv' dan 'names1981.csv'
# - Gabungkan kedua data tersebut berdasarkan sumbu baris
# - Tunjukan jumlah dimensi dari data setelah di gabungkan.

import pandas as pd
# read data
df1 = pd.read_csv('names1881.csv',names=['Name','Gender','Count'])

df2 = pd.read_csv('names1981.csv',names=['Name','Gander','Count'])

# periksa dimensi dari kedua data
print("Jumlah Dimensi data names1881.csv :",df1.shape)
# ........
print("Jumlah Baris data names1981.csv :",df2.shape)
# ........

# # gabungkan data
df_concat =pd.concat([df1,df1])
display(df_concat)

# # periksa dimensi data hasil gabungan
print("Jumlah dimensi data setelah penggabungan : ",df_concat.shape)
# .........

Jumlah Dimensi data names1881.csv : (1935, 3)
Jumlah Baris data names1981.csv : (19455, 3)

           Name Gender  Count
0          Mary      F   6919
1          Anna      F   2698
2          Emma      F   2034
3     Elizabeth      F   1852
4      Margaret      F   1658
...         ...    ...    ...
1930     Wiliam      M      5
1931     Wilton      M      5
1932       Wing      M      5
1933       Wood      M      5
1934     Wright      M      5

[3870 rows x 3 columns]

Jumlah dimensi data setelah penggabungan :  (3870, 3)

In [27]:
# <h2>Soal 3: Penggabungan Data</h2>

# Lakukan jenis penggabungan data full outer join, inner join, left outer join dan right outer join pada kedua data berikut: 

import pandas as pd

data1 = {
    'id' : [1, 2, 3, 4],
    'Feature1' : ['a1', 'a2', 'a3', 'a4'],
    'Feature2' : ['b1', 'b2', 'b3', 'b4']
}

data2 = {
    'id' : [3, 4, 5 ,6, 7],
    'Feature3' : ['c1', 'c2', 'c3', 'c4', 'c5']
}

df1= pd.DataFrame(data1)
df2= pd.DataFrame(data2)

display(df1)
display(df2)

# join data
df_outer_join = pd.merge(df1,df2,on='id', how='outer')
display('join outer: ',df_outer_join)

df_inner_join =pd.merge(df1,df2,on='id', how='inner')
display('join inner: ',df_inner_join)

df_left_join =pd.merge(df1,df2,on='id', how='left')
display('join left: ',df_left_join)

df_right_join =pd.merge(df1,df2,on='id',how='right')
display('join rigth: ',df_right_join)

   id Feature1 Feature2
0   1       a1       b1
1   2       a2       b2
2   3       a3       b3
3   4       a4       b4

   id Feature3
0   3       c1
1   4       c2
2   5       c3
3   6       c4
4   7       c5

'join outer: '

   id Feature1 Feature2 Feature3
0   1       a1       b1      NaN
1   2       a2       b2      NaN
2   3       a3       b3       c1
3   4       a4       b4       c2
4   5      NaN      NaN       c3
5   6      NaN      NaN       c4
6   7      NaN      NaN       c5

'join inner: '

   id Feature1 Feature2 Feature3
0   3       a3       b3       c1
1   4       a4       b4       c2

'join left: '

   id Feature1 Feature2 Feature3
0   1       a1       b1      NaN
1   2       a2       b2      NaN
2   3       a3       b3       c1
3   4       a4       b4       c2

'join rigth: '

   id Feature1 Feature2 Feature3
0   3       a3       b3       c1
1   4       a4       b4       c2
2   5      NaN      NaN       c3
3   6      NaN      NaN       c4
4   7      NaN      NaN       c5

In [30]:
# <h2>Soal 4: Penggabungan Data berbeda label column Key</h2>

# Lakukan jenis penggabungan inner join untuk 2 data yang memiliki nama column key yang berbeda ini:
data1 = {
    'key_data1' : [1, 2, 3, 4],
    'Feature1' : ['a1', 'a2', 'a3', 'a4'],
    'Feature2' : ['b1', 'b2', 'b3', 'b4']
}

data2 = {
    'key_data2' : [3, 4, 5 ,6, 7],
    'Feature3' : ['c1', 'c2', 'c3', 'c4', 'c5']
}

df1= pd.DataFrame(data1)
df2= pd.DataFrame(data2)

display(df1)
display(df2)
# Gabungkan kedua data tersebut
df_gabung = pd.merge(df1,df2,left_on='key_data1',right_on='key_data2', how='inner')
display(df_gabung)

   key_data1 Feature1 Feature2
0          1       a1       b1
1          2       a2       b2
2          3       a3       b3
3          4       a4       b4

   key_data2 Feature3
0          3       c1
1          4       c2
2          5       c3
3          6       c4
4          7       c5

   key_data1 Feature1 Feature2  key_data2 Feature3
0          3       a3       b3          3       c1
1          4       a4       b4          4       c2